<h2>New Celebrities</h2>
<form action = "/celebrities/create" method = "POST">

<label class="form-label" for="name">Name: </label>
<input classtype ="text" name="name">

<label class="form-label" for="occupation">Occupation: </label>
<input type ="text" occupation = "occupation">

<label class="form-label" for= "catchPhrase">CatchPhrase: </label>
<input type ="text" catchPhrase = "catchPhrase">

<button class="btn btn-primary" type="submit">SUBMIT New Celebs:</button>



</form>