<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">add a celebrity</a>
<a href="/celebrities">Celebrities</a>

<break>

<a href="/movies/create">edit a Movie</a>
<a href="/movies">Movies</a>

</break>