<h2>New Movies</h2>
<form action = "/movies/create" method = "POST">

<label class="form-label" for="title">Title: </label>
<input classtype ="text" title="title">

<label class="form-label" for="genre">Genre: </label>
<input type ="text" genre = "genre">

<label class="form-label" for= "plot">Plot: </label>
<input type ="text" plot = "plot">


<button class="btn btn-primary" type="submit">SUBMIT New Movie:</button>



</form>